variables:
  IMAGE_NAME: tayeb517/juice-shop
  IMAGE_TAG: juice-shop-1.1
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Cache SonarCloud
  GIT_DEPTH: "0"  # Désactiver les clones superficiels pour une meilleure analyse

stages:
  - cache
  - test
  - quality
  - build

# --------- 1) CACHE DES DÉPENDANCES ---------
create_cache:
  image: node:18-bullseye
  stage: cache
  script:
    - yarn install --ignore-engines
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
      - yarn.lock
      - .yarn
    policy: pull-push

# --------- 2) TESTS ---------
yarn_test:
  image: node:18-bullseye
  stage: test
  script:
    - yarn install --ignore-engines
    - yarn test --coverage
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
      - yarn.lock
      - .yarn
    policy: pull
  artifacts:
    paths:
      - coverage/
    expire_in: 1 hour


gitleaks:
  stage: test
  image:
    name: zricethezav/gitleaks
    entrypoint: [""]
  script:
    - gitleaks detect --verbose --source .
  allow_failure: true

njsscan:
  stage: test
  image: python:3.11
  before_script:
    - pip install "njsscan==0.2.11"
  script:
    - njsscan --exit-warning .
  allow_failure: true


semgrep:
  stage: test
  image: semgrep/semgrep
  variables:
    SEMGREP_RULES: p/javascript
  script:
    - semgrep ci
  allow_failure: true

# --------- 3) SONARCLOUD ---------
sonarcloud:
  stage: quality
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  script:
    - sonar-scanner
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  dependencies:
    - yarn_test    # Récupère la couverture générée

# --------- 4) BUILD & PUSH DOCKER ---------
build_image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_PASS: $DOCKER_PASS
    DOCKER_USER: $DOCKER_USER
  before_script:
    - echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
